<!-- shows create project button on project page and create issue buton if the project is open -->
<nav class="navbar navbar-expand-sm" style="background-color: #f383a8;">
  <div class="container-fluid">
    <a class="navbar-brand ms-3 " href="/" style="font-weight:bolder;font-family:monospace"> Issue Tracker </a>
    <% if( title === "Project Page"){ %> <%- include('_issue_form'); %> <%
    }else{ %> <%- include('_project_form'); %> <% } %>
  </div>
</nav>

